@charset "utf-08";

body{

  padding: 10px;
  background-color: darkslateblue;
}

.caixa-slide{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  block-size: auto;
  box-sizing: content-box;
  margin: auto;
  width: 50%;
  border: 3px solid darkslateblue;
  padding: 10px;
}

.imagem-slide{
    width: 750px;
    height: 500px;
    border: none 2px white;
    box-sizing: content-box;
    margin: auto;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.butao{
  color: black;
  background-color: black;
  box-sizing: content-box;
}

.descricao{
  text-align: center;
  font-size: larger;
  text-decoration: none;
  color: white;
  border: solid 2px darkslateblue;
}

.titulo-box{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-family: Oswald;
  font-variant: small-caps;
  text-decoration: underline;
}

.card-box{
  margin: auto;
  width: 50%;
  border: 3px solid darkslateblue;
  padding: 10px;
}

.box-butao{
  margin-left: 43%;
  width: 30%;
  border: 3px solid darkslateblue;
  padding: 10px;
}

.box-imagem{
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.titulo-enty{
  margin-top: 50px;
  color: white;
  font-variant: small-caps;
  text-shadow: 2px 2px 2px red;
}

.para-enty{
  color: white;
  margin-top: 15px;
}

/* galeria de imagens */
div.gallery {
  border: 1px solid #ccc;
  margin: 15px
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.video{
  margin:auto;
  height: auto;
  
}

.teste2{
  align-items: center;
  box-sizing: content-box;
  margin-left: 43%;
}

.titulo_galeria{
  text-align: center;
  font-size: 40px;  
  font-weight: bolder;
  color: azure;
  text-shadow: 2px 2px 2px black; 
  margin: 50px;
}

.desc2{
  background-color: black;
  font-size: 14px;
  font-weight: bold;
  color: antiquewhite;
}

.map{
  margin-top: 200px;
  margin-left: 35%;
}

.caixa-texto{
  background-color: white;
  margin: auto;
}

.subtitulo{
  font-size: large;
  text-shadow: 0px 0px 0px;
  font-variant: normal;
  text-decoration: none;
}